/*
font-family: 'Didact Gothic', sans-serif;
font-family: 'Press Start 2P', cursive;
*/

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Press+Start+2P&display=swap');

a{
  color: #A8BEFF;
}
body{
  background-color: black;
  color: #FDFCF3;
}
h1{
  font-family: 'Press Start 2P', cursive;
}
p{
  font-family: 'Didact Gothic', sans-serif;
}
